@import "./utils/variables.module.scss";
@import "./utils/mixins.module.scss";

.main {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  padding: 1em;
  min-height: 100vh;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



.description a {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.description p {

  padding: 0.5em 1em;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: 20px;
  
}


.thirteen {
  &:hover{
    color: black !important;
    &::after{
      background-image: linear-gradient(
        to left,
        rgb(218, 218, 218),
        #d7d7d7,
        #ffffff,
        $primary-color
      );
      color: black !important;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  // width: auto;
  // height: 50px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: "";
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 10s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
  
}

/* Inner Square */
.thirteen::after {
  
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  /* background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  ); */
  background: linear-gradient(to bottom right, rgb(34, 34, 34), rgb(0, 0, 0));
  background-clip: content-box;
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }
}

.keyword {
  color: $accent-color;
}

.title {
  font-weight: 500;
  font-size: 80px;
  background: rgb(255, 255, 255);
  background-image: linear-gradient(
  133deg,
    rgb(255, 255, 255) 15%,
    rgb(214, 214, 214) 70%,
    rgb(88, 88, 88) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include flex() {
    font-size: 50px;
  }
}

.testGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex-wrap: wrap;
  max-width: 675px;
  width: 90%;
  // background-color: red;
  // padding: 1em;
  // background-color: blue;
  .top {
    // background-color: red;
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    div {
      width: 100%;
      padding: 1em;

      h4 {
        font-size: 18px;
      }

      p {
        font-size: 16px;
        margin-top: 0.75em;
      }

      .connect {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1.5em;
        font-size: 16px;
        padding: 1em;
        width: 100%;
        // font-weight: bold;
        color: grey;
        // height: 50px;
        background: rgba(52, 52, 52, 0.23);
        border: 1px solid #3a3a3a;
        border-radius: 10px;

        .icon {
          margin-right: 0.5em;
        }
        &:hover {
          background-position: 100% 0;
          moz-transition: all 0.5s ease-in;
          -o-transition: all 0.5s ease-in;
          -webkit-transition: all 0.5s ease-in;
          transition: all 0.5s ease-in;
          background-image: linear-gradient(
            to left,
            rgb(218, 218, 218),
            #d7d7d7,
            #ffffff,
            $primary-color
          );
          color: black;
          // border-color: $primary-color;
        }
      }
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(1, minmax(25%, auto));
    grid-gap: 1em;

    @include flex-bottom() {
      grid-template-columns: repeat(1, minmax(25%, auto));
    }
    // width: var(--max-width);
    max-width: 100%;
  }
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  background: rgba(52, 52, 52, 0.23);
  border: 1px solid #3a3a3a;
  border-radius: 20px;
  width: 100%;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
  font-weight: lighter;
}

.card h3 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;

  // max-width: 30ch;
}

.center {
  display: flex;
  text-align: center;
  padding: 1em;
  // font-size: 20px;
  max-width: 720px;
  margin: 1em 0em 1em 0em;
}

// .center::before {
//   background: var(--secondary-glow);
//   border-radius: 50%;
//   width: 480px;
//   height: 360px;
//   margin-left: -400px;
//   z-index: -1;
// }

// .center::after {
//   background: var(--primary-glow);
//   width: 240px;
//   height: 180px;
//   z-index: -1;
// }

// .center::before,
// .center::after {
//   content: "";
//   left: 20%;
//   position: absolute;
//   filter: blur(45px);
//   transform: translateZ(0);
// }

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  //  .center {
  //   padding: 8rem 0 6rem;
  // }

  .center::before {
    transform: none;
    height: 300px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

// @media (prefers-color-scheme: dark) {
//   .vercelLogo {
//     filter: invert(1);
//   }

//   .logo,
//   .thirteen img {
//     filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
//   }
// }

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
